name: Neovim CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Neovim
        uses: ./.github/actions/setup-neovim

      - name: Run Neovim tests
        uses: ./.github/actions/run-neovim-tests
